body{
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: center;
    padding: 120px 0;
    background: aqua;
}

h2{
    font-size: 30px;
}

.list{
    margin-bottom: 20px;
    background: coral;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove{
    background: crimson;
    color: #333;
    padding: 10px;
    border: none;
    font-size: 18px;
}

.btn{
    font-size: 18px;
    background: rgb(6, 124, 235);
    color: #fff;
    border: none;
    width: 200px;
    padding: 10px 0;
    margin: 0 10px;
    cursor: pointer;
}

ul{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

li{
    padding: 10px;
    margin-top: 50px;
    background: #fff;
    list-style: none;
    width: 32%;
    box-sizing: border-box;
}

li img{
    width: 60px;
    border-radius: 50%;
}

li a{
    text-decoration: none;
    color: #222;
    font-size: 16px;
}